:root {
  --white: #ffffff;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  background-image: linear-gradient(to top, #3da1c3 0%, #255198 100%);
}

/* Wrapper container for the entire window*/
.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 0px auto 70px;
  grid-template-areas:
    "header header header"
    ". info . "
    ". main ."
    "footer footer footer";
}

.navbar {
  grid-area: header;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 360px 1fr;
  grid-template-rows: auto 40px auto;
  grid-template-areas:
    ". logo ."
    ". search ."
    ". settings .";
}

.info {
  grid-area: info;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  grid-template-areas:
    "title"
    "weather"
    "details"
    "daily";
  color: var(--white);
  justify-items: center;
}

.section-daily {
  grid-area: daily;
  width: 100%;
  max-width: 480px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  grid-area: logo;
  text-wrap: nowrap;
  text-decoration: none;
  color: var(--white);
  font-size: 40px;
  text-align: center;
}

.search-bar {
  grid-area: search;
  justify-self: center;
  height: 41px;
}

.unit-choices {
  grid-area: settings;
  justify-self: center;
}

.loading {
  background-image: url("../assets/SVG/my-loader.svg");
}

.section-heading {
  grid-area: title;
  text-align: center;
}

.section-weather {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.weather-div {
  display: flex;
  align-items: center;
}

.weather-icon {
  margin-right: 16px;
}

.section-details {
  text-align: center;
  grid-area: details;
  gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.creator {
  font-size: 16px;
}
