:root {
  --white: #ffffff;
}

body,
p,
h1,
h2,
h3 {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: var(--white);
  background-image: linear-gradient(to top, #3da1c3 0%, #255198 100%);
}

/* Wrapper container for the entire window*/
.wrapper {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr minmax(0px, 768px) 1fr;
  grid-template-rows: 100px auto 1fr 70px;
  grid-template-areas:
    "navbar navbar navbar"
    ". info ."
    ". main ."
    "footer footer footer";
}

.nav-bar {
  grid-area: navbar;
  display: grid;
  grid-template-areas: "logo searchbar unitChoices";
  align-items: center;
  grid-template-columns: 1fr 360px 1fr;
  padding: 0 32px;
  margin: 32px 0 16px;
}

.logo {
  grid-area: logo;
}

h1 a {
  color: var(--white);
  text-decoration: none;
  text-wrap: nowrap;
}

p {
  font-size: 20px;
}

.searchBar {
  grid-area: searchBar;
}

.unitChoices {
  grid-area: unitChoices;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}
